<h3>0910 <small>表單驗證實作、多語系</small></h3>
<b>表單驗證實作</b>
<ul>
    <li>[Required]：欄位必填</li>
    <li>[StringLength()]：長度</li>
    <li>[RegularExpression(@@"a.*)]：正則表達式</li>
    <li>透過此方式添加驗證規則，前後端皆會自動完成</li>
</ul>
<b>多語系</b>
<ul>
    <li>專案加入ASP.NET資料夾：App_GlobalResources</li>
    <li>新增資源檔製作：【加入】-->【資源檔】</li>
    <li>檔案命名範例：【Products.resx】預設為中文；【Products.en-US.resx】英文語系</li>
    <li>Web.Config設定：system.web底下的globalization，uiCulture設定為en-US即可使用英文語系資源檔</li>
</ul>
<h3>1005 <small>專案練習</small></h3>
<ul>
    <li>實作Client、Order的CRUD</li>
    <li>實作Order連到Client的Detail頁面：透過@@Html.ActionLink互相連接不同Controller</li>
</ul>
<h3>1025 <small>MVC生命週期</small></h3>
<h3>1100 <small>ViewModel練習</small></h3>
<ul>
    <li>Model：描述資料的一種形式(抽象)</li>
    <li>
        ViewModel
        <ol>
            <li>新建Controller、LoginViewModel</li>
            <li>建立Login的View頁面</li>
        </ol>
    </li>
</ul>
<h3>1130 <small>ORM、POCO class</small></h3>
<ul>
    <li>Class.Property對應Table.Column</li>
</ul>
<h3>1300 <small>Entity FrameWork 架構、CRUD練習</small></h3>
<b>讀取(R)</b>
<ul>
    <li>using要加上toList</li>
    <li>若欄位允許null，最好加上hasValue判斷</li>
</ul>
<b>新增(C)</b>
<b>修改(U)</b>
<b>刪除(D)</b>
<ul>
    <li>刪除關聯式資料表內的資料，可透過導覽屬性快速處理，如clients.Order.OrderLine</li>
</ul>
<h3>1600 <small>DB First</small></h3>
<b>資料庫有異動的SOP處理流程</b>
<ul>
    <li>更新DB Schema</li>
    <li>VS2013內，EDMX空白處右鍵選擇【從資料庫更新】</li>
    <li>舊名稱刪除</li>
    <li>改名為舊名稱，避免舊有程式的修改(可選步驟)</li>
</ul>
<b>資料庫使用SP</b>
<ul>
    <li>使用SP查詢得到的回覆，可修改回傳的資料型別(可參考課程補充資訊Day2)</li>
</ul>
<h3>1800</h3>