
<h3>0910 <small>File Helper的練習</small></h3>
<ol>
    <li>回應的檔案類型藉由MINE TYPE指定</li>
    <li>File方法除了指定實體路徑，也可指定為byte格式資料</li>
    <li>Byte二進制資料可透過System.IO.ReadAllBytes處理</li>
    <li>要抓網路上的資料可透過WebClient類別給予URL</li>
    <li>指定下載檔案名稱可給予第三個參數：檔名來處理，瀏覽器就會強制下載</li>
</ol>