
<h3>0910 <small>File Helper的練習</small></h3>
<ol>
    <li>回應的檔案類型藉由MINE TYPE指定</li>
    <li>File方法除了指定實體路徑，也可指定為byte格式資料</li>
    <li>Byte二進制資料可透過System.IO.ReadAllBytes處理</li>
    <li>要抓網路上的資料可透過WebClient類別給予URL</li>
    <li>指定下載檔案名稱可給予第三個參數：檔名來處理，瀏覽器就會強制下載</li>
    <li>中文檔名：RFC2231規範(2005)(IE8不支援)</li>
</ol>
<b>JSON Result</b>
<ol>
    <li>序列化過程錯誤是因為導覽屬性重複互相參考到，關閉延遲載入功能可解決此一問題</li>
</ol>
<h3>1100 <small>IIS網頁回應錯誤訊息</small></h3>
<b>SEO and HTTP 301 、302</b>
<ol>
    <li>HTTP301轉址：永久(搜尋引擎判定為同一個網址，SEO相關資訊會累加到新網址)</li>
    <li>HTTP302轉址：暫時(搜尋引擎判定為兩個網址)</li>
</ol>
<h3>1125</h3>
<b>Model Binding</b>
<ol>
    <li>弱型別轉型回強型別</li>
    <li>ViewData["MyClient"] as MVC5.Models.Client</li>
</ol>
<b>TempData實務應用</b>
<ol>
    <li>表單頁輸入資料POST到處理頁</li>
    <li>處理頁接資料處理完後寫入TempData並redirect到完成頁</li>
    <li>完成頁顯示TempData</li>
</ol>
<h3>1300 <small>Model Binding</small></h3>
<b>簡單模型</b>
<ol>
    <li>string</li>
    <li>FormCollection</li>
</ol>
<b>複雜模型</b>
<ol>
    <li>透過ViewModel來接資料</li>
    <li>表單內有多個物件要接，使用PreFix語法命名Name標籤內的屬性，例如username改為item1.username</li>
</ol>
<h3>1420 <small>Binding</small></h3>
<ol>
    <li>Binding 屬性Prefix，符合條件的才做Binding</li>
    <li>延遲驗證：TryUpdateModel</li>
</ol>