<h3>0900</h3>
自訂過濾器：可將重複性高的CODE，往前搬移到ActionFilter內作封裝，例如LOG紀錄。
<ol>
    <li>新增Folder：ActionFilters</li>
    <li>新增類別：LoggerAttribute.cs</li>
    <li>繼承ActionFilterAttribute</li>
    <li>Override原有的動作過濾器方法</li>
</ol> 