<h3>0910</h3>
<ol>
    <li>Trace可使用文字檔輸出、或輸出在DEBUG視窗，詳情參考Day6補充資訊</li>
    <li>表單驗證可取代session驗證登入，詳情參考Day6補充資訊</li>
</ol>
<h3>0920 <small>進階應用AJAX</small></h3>
<ol>
    <li>安裝Microsoft jQuery Unobtrusive Ajax套件</li>
    <li>LayOut頁面要載入jQuery.unobtusive-ajax.js</li>
    <li>也可透過bundle方式與jQuery綁再一起</li>
</ol>

