<h3>0910</h3>
<ol>
    <li>Trace可使用文字檔輸出、或輸出在DEBUG視窗，詳情參考Day6補充資訊</li>
    <li>表單驗證可取代session驗證登入，詳情參考Day6補充資訊</li>
</ol>
<h3>0920 <small>進階應用AJAX</small></h3>
<ol>
    <li>安裝Microsoft jQuery Unobtrusive Ajax套件</li>
    <li>LayOut頁面要載入jQuery.unobtusive-ajax.js</li>
    <li>也可透過bundle方式與jQuery綁再一起</li>
</ol>
<h3>1030 <small>Ajax option練習</small></h3>
<h3>1055 <small>合併與壓縮</small></h3>
<ol>
    <li>在VIEW載入的方法，透過@@Script.Render與@@Styles.Render</li>
    <li>關閉、啟用最佳化功能：WebConfig的Compilation debug屬性</li>
    <li>啟用最佳化會優先選擇min.js</li>
    <li>停用最佳化不會載入min.js</li>
</ol>
<h3>1145 <small>PagedList.Mvc分頁套件</small></h3>
<ol>
    <li>下載Nuget套件PagedList</li>
    <li>Controller套用分頁設定：.ToPagedList(pageNumber:1,pageSize:10)，取得資料需進行排序才可分頁</li>
    <li>View套用分頁語法：@@Html.PagedListPager()，記得Using PagedList、PagedList.MVC；且先將Mode轉型為IPageList</li>
</ol>
<h3>1310 <small>透過AJAX處理分頁</small></h3>
<ol>
    <li>View套用記得加上isAjax判斷Layout</li>
    <li>HTML.PagedListPagert傳入第三個參數指定AJAX回來的資訊存放的DOM</li>
    <li>在LAYOUT頁面加上該DOM名稱</li>
</ol>
<h3>1330 <small>安全性</small></h3>
<ol>
    <li>編碼</li>
    <li>表單安全性</li>
    <li>Model Binding (Over POSTING、Under POSTING)</li>
</ol>
<h3>1350 <small>身分驗證</small></h3>
<h3>1400 <small>WCF Web API</small></h3>
<ol>
    <li>透過POSTMAN Chrome plugin開發測試</li>
</ol>
<h3>1420 <small>Web API實作練習</small></h3>
<ol>
    <li>發生序列化錯誤，是因為導覽屬性，循環參考關閉延遲載入 db.Configuration.LazyLoadingEnabled = false;</li>
</ol>