<h3>2015-05-09補充資訊</h3>
<a href="http://getglimpse.com/">Glimpse</a>
<ol>
    <li>安裝 MVC：PM> Install-Package Glimpse.MVC5</li>
    <li>安裝 Entity FrameWork：PM> Install-Package Glimpse.EF6</li>
    <li>localhost:xxxxx/glimpse.axd  點選TurnOn</li>
</ol>
<hr />
<ol>
    <li>練習在View裡面使用 @Html.ActionLink("@helper方法","index","topic")</li>
</ol>
<a href="~/Content/Bootstrap_Metro_Dashboard-master.zip">套版練習原始版型</a>