<h3>2015-04-26補充資訊</h3>
<ol>
    <li><a href="http://en.wikipedia.org/wiki/Internet_media_type">MIME TYPE(wiki)</a></li>
    <li><a href="http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/">Model Binding To A List</a></li>
</ol>
<ol>
    <li><a href="http://demo.tc/Post/534">ASP.NET MVC 實做登入機制</a></li>
    <li><a href="http://demo.tc/post/487">ASP.NET MVC Form 驗證</a></li>
</ol>
<b>自訂 Action Filter 的參考連結</b>
<ol>
    <li><a href="http://kevintsengtw.blogspot.tw/2013/12/aspnet-mvc-custom-action-filters.html">ASP.NET MVC – 有關 Custom Action Filters 的建議</a></li>
    <li><a href="http://www.dotblogs.com.tw/ricochen/archive/2010/03/17/14076.aspx">[C#][ASP.NET MVC]自訂Action Filter</a></li>
    <li><a href="http://www.codeproject.com/Articles/426766/Custom-Filters-in-MVC-Authorization-Action-Result">Custom Filters in MVC - Authorization , Action, Result, Exception Filters.</a></li>
</ol>