        <h3>2015-04-18補充資訊</h3>
        <ol>
            <li><a href="http://blog.miniasp.com/post/2010/12/01/Visual-Studio-2010-Database-Project-Schema-Compare-Options.aspx">Visual Studio 2010 資料庫專案 - 結構描述比較選項設定筆記</a></li>
            <li><a href="http://www.microsoftvirtualacademy.com/training-courses/visual-studio-online-with-git">MVA課程：Visual Studio Online 與 Git 版本控管實戰</a></li>
            <li><a href="http://blog.miniasp.com/post/2012/06/30/Windows-8-Tips-How-to-change-default-input-method-for-languages.aspx">Windows 8 小技巧: 繁體中文語言如何變更預設輸入法(英文)</a></li>
        </ol>

