
<h3>2015-04-25補充資訊</h3>
<ol>
    <li><a href="http://www.slideshare.net/WillHuangTW/linq-46081487" target="_blank">LINQ快速上手</a></li>
    <li><a href="~/Content/IRepository.EF6.rar">Repository 程式碼產生器 T4 範本 ( 支援 Entity Framework 6 )</a></li>
    <li><a href="~/Content/EFGeneratePartialClass.rar">~產生 Entity Framework 實體的部分類別</a></li>
    <li><a href="http://blog.miniasp.com/post/2013/06/24/ASPNET-MVC-4-IIS-runAllManagedModulesForAllRequests-ExtensionlessUrlHandler.aspx" target="_blank">ASP.NET MVC 4 在 .NET 4.0 與 .NET 4.5 的專案範本差異</a></li>
    <li><a href="http://blog.miniasp.com/post/2011/08/01/ASPNET-MVC-Developer-Note-Part-21-Routing-Concepts-and-Skills.aspx">ASP.NET MVC 開發心得分享 (21)：Routing 觀念與技巧</a></li>
</ol>
