@{
    ViewBag.Title = "補充資料";
}
<h2>@ViewBag.Title</h2>
<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#Day1" aria-controls="Day1" role="tab" data-toggle="tab">Day1</a></li>
    <li role="presentation"><a href="#Day2" aria-controls="Day2" role="tab" data-toggle="tab">Day2</a></li>
    <li role="presentation"><a href="#Day3" aria-controls="Day3" role="tab" data-toggle="tab">Day3</a></li>
    <li role="presentation"><a href="#Day4" aria-controls="Day4" role="tab" data-toggle="tab">Day4</a></li>
    <li role="presentation"><a href="#Day5" aria-controls="Day5" role="tab" data-toggle="tab">Day5</a></li>
    <li role="presentation"><a href="#Day6" aria-controls="Day6" role="tab" data-toggle="tab">Day6</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Day1">@Html.Partial("ExtraInfoday1")</div>
    <div role="tabpanel" class="tab-pane" id="Day2">@Html.Partial("ExtraInfoday2")</div>
    <div role="tabpanel" class="tab-pane" id="Day3">@Html.Partial("ExtraInfoday3")</div>
    <div role="tabpanel" class="tab-pane" id="Day4"></div>
    <div role="tabpanel" class="tab-pane" id="Day5"></div>
    <div role="tabpanel" class="tab-pane" id="Day6"></div>
</div>
<h3>Info</h3>
<ol>
    <li><a href="http://blog.miniasp.com/post/2013/05/02/Will-2013-Ultimate-Developer-Tool-Software-List.aspx">Will 保哥的開發人員工具軟體清單 ( 最新 2013 年版 )</a></li>
    <li><a href="http://thewillwillweb.azurewebsites.net/post/2010/10/13/How-to-get-current-executing-statements-in-SQL-Server.aspx">取得 SQL Server 資料庫正在執行的 T-SQL 指令與詳細資訊</a></li>
</ol>




