@{
    ViewBag.Title = "課程補充資訊";
}

<div class="container">
    <div class="col-md-12">
        <h3>課程補充資訊</h3>
        <h3>Day 1</h3>
        <ol>
            <li><a href="http://blog.miniasp.com/post/2010/12/01/Visual-Studio-2010-Database-Project-Schema-Compare-Options.aspx">Visual Studio 2010 資料庫專案 - 結構描述比較選項設定筆記</a></li>
            <li><a href="http://www.microsoftvirtualacademy.com/training-courses/visual-studio-online-with-git">MVA課程：Visual Studio Online 與 Git 版本控管實戰</a></li>
            <li><a href="http://blog.miniasp.com/post/2012/06/30/Windows-8-Tips-How-to-change-default-input-method-for-languages.aspx">Windows 8 小技巧: 繁體中文語言如何變更預設輸入法(英文)</a></li>
        </ol>
        <h3>Day 2</h3>
        自訂欄位驗證錯誤訊息與多國語系的做法
        <ol>
            <li><a href="http://blog.miniasp.com/post/2009/06/02/Auto-language-detection-by-browser-lang-settings-in-ASPNET.aspx?hc_location=ufi">如何讓 ASP.NET 依據瀏覽器指定的語系自動選用資源檔</a></li>
            <li><a href="http://blog.miniasp.com/post/2010/01/05/ASPNET-MVC-Developer-Note-Part-15-Globalization-and-Localization.aspx>">ASP.NET MVC 開發心得分享 (15)：全球化和當地語系化</a></li>
            <li>Model內的驗證語法：[Required(ErrorMessageResourceType=typeof(Resources.Products), ErrorMessageResourceName="ProductNameRequired")]</li>
        </ol>

        Linq to SQL ：lambda
        <ol>
            <li><a href="https://msdn.microsoft.com/zh-tw/library/bb397687.aspx">Lambda 運算式 (C# 程式設計手冊)</a></li>
            <li><a href="http://www.dotblogs.com.tw/hatelove/archive/2012/06/07/csharp-linq-lambda-introduction.aspx">[.NET]快快樂樂學LINQ系列前哨戰－Lambda的簡介</a></li>
        </ol>

        偵錯
        <div class="col-md-6">
            <pre>處裡 Entity Framework 發生驗證失敗的程式碼範例
        try {
            db.SaveChanges();
        }
        catch (DbEntityValidationException ex){
            //throw ex;
            var allErrors = new List<string>();
            foreach (DbEntityValidationResult re in ex.EntityValidationErrors){
                foreach (DbValidationError err in re.ValidationErrors){
                    allErrors.Add(err.ErrorMessage);
                }
            }
            ViewBag.Errors = allErrors;
        }</pre>
            <pre>取得第一個錯誤:
ex.EntityValidationErrors.First().ValidationErrors.First().ErrorMessage
三種常見的型別與其命名空間：
System.Data.Entity.Validation.DbEntityValidationException
System.Data.Entity.Validation.DbEntityValidationResult
System.Data.Entity.Validation.DbValidationError
ex.EntityValidationErrors
代表有多少 Entity 屬性有驗證錯誤
ex.EntityValidationErrors.First().ValidationErrors
代表在「特定屬性」中有多少驗證錯誤</pre>

            IEnumerable與 IQueryable
            <ol>
                <li><a href="http://blog.miniasp.com/post/2010/03/29/LINQ-to-SQL-Performance-Impact-on-N-Tier-Architecture.aspx">解決 N-Tier 多層架構設計下 LINQ to SQL 效能不彰的問題</a></li>
            </ol>

        </div>

        <div class="col-md-6">
            <img src="~/Content/988917_10206681224099560_8171043119351995771_n.jpg" />
        </div>
    </div>



</div>

