
@{
    ViewBag.Title = "課程補充資訊";
}

<div class="container">
    <div class="col-md-12">
        <h3>課程補充資訊</h3>
        <h3>Day 1</h3>
        <ol>
            <li><a href="http://blog.miniasp.com/post/2010/12/01/Visual-Studio-2010-Database-Project-Schema-Compare-Options.aspx">Visual Studio 2010 資料庫專案 - 結構描述比較選項設定筆記</a></li>
            <li><a href="http://www.microsoftvirtualacademy.com/training-courses/visual-studio-online-with-git">MVA課程：Visual Studio Online 與 Git 版本控管實戰</a></li>
            <li><a href="http://blog.miniasp.com/post/2012/06/30/Windows-8-Tips-How-to-change-default-input-method-for-languages.aspx">Windows 8 小技巧: 繁體中文語言如何變更預設輸入法(英文)</a></li>
        </ol>
        <h3>Day 2</h3>
        <ol>
            自訂欄位驗證錯誤訊息與多國語系的做法
            <li><a href="http://blog.miniasp.com/post/2009/06/02/Auto-language-detection-by-browser-lang-settings-in-ASPNET.aspx?hc_location=ufi">如何讓 ASP.NET 依據瀏覽器指定的語系自動選用資源檔</a></li>
            <li><a href="http://blog.miniasp.com/post/2010/01/05/ASPNET-MVC-Developer-Note-Part-15-Globalization-and-Localization.aspx>">ASP.NET MVC 開發心得分享 (15)：全球化和當地語系化</a></li>
            <li>Model內的驗證語法：[Required(ErrorMessageResourceType=typeof(Resources.Products), ErrorMessageResourceName="ProductNameRequired")]</li>
        </ol>
    </div>
</div>

