@{
    ViewBag.Title = "課程練習";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<ol>
    <li>練習使用 Visual Studio 2013 的 Data Tips 功能</li>
    <li>練習使用 伺服器總管 相關功能</li>
    <li>練習 SQL Server 資料庫專案</li>
    <li>練習 工作清單 與 條件式中斷點</li>
    <li>練習幾個 重要的快速鍵 與 程式碼片段</li>
    <li>練習 BrowserLink (瀏覽器連結) 功能</li>
    <li>練習透過 NuGet 安裝、移除、更新與重新安裝較舊的套件版本</li>
    <li>建立新MVC5專案、更新NuGet套件、新增/Home/Profile頁面、加入連結到主選單</li>
    <li>新增 ADO.NET 實體資料模型 (Model) 與 ProductsController 完成一個完整的 CRUD 應用</li>
    <li>練習在 Models 套用欄位驗證屬性</li>
    <li>練習欄位驗證屬性、自訂錯誤訊息與設定多國語系錯誤訊息的做法</li>
    <li>練習在不同 Controllers 之間透過 @@Html.ActionLink 互相連結 (Orders -> Clients/Details/id)</li>
    <li>練習 ViewModel 的使用方法</li>
    <li>練習透過 Entity Framework 讀取 Product 資料，顯示 ProductName 為 C 開頭且 Price 介於 5 ~ 10 塊</li>
    <li>練習透過 Entity Framework 建立 Product 資料</li>
    <li>練習透過 Entity Framework 批次更新 Product 資料</li>
    <li>練習透過 Entity Framework 刪除 Client 資料與其關聯資料</li>
    <li>練習「從資料庫更新模型」，解決無法儲存中文在欄位中的問題 (varchar -> nvarchar)</li>
    <li> 練習匯入 Stored Procedure (預存程序) 並執行查詢動作</li>
    <li>練習使用 db.Database.SqlQuery<t>進行自訂 T-SQL 查詢作業</li>
    <li>練習自訂 Stored Procedure (預存程序) 的回傳型別</li>
</ol>



