@{
    ViewBag.Title = "課程練習";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<ol>
    <li>練習使用 Visual Studio 2013 的 Data Tips 功能</li>
    <li>練習使用 伺服器總管 相關功能</li>
    <li>練習 SQL Server 資料庫專案</li>
    <li>練習 工作清單 與 條件式中斷點</li>
    <li>練習幾個 重要的快速鍵 與 程式碼片段</li>
    <li>練習 BrowserLink (瀏覽器連結) 功能</li>
    <li>練習透過 NuGet 安裝、移除、更新與重新安裝較舊的套件版本</li>
    <li>建立新MVC5專案、更新NuGet套件、新增/Home/Profile頁面、加入連結到主選單</li>
    <li>新增 ADO.NET 實體資料模型 (Model) 與 ProductsController 完成一個完整的 CRUD 應用</li>
    <li>練習在 Models 套用欄位驗證屬性</li>
    <li>練習欄位驗證屬性、自訂錯誤訊息與設定多國語系錯誤訊息的做法</li>
    <li>練習在不同 Controllers 之間透過 @@Html.ActionLink 互相連結 (Orders -> Clients/Details/id)</li>
    <li>練習 ViewModel 的使用方法</li>
</ol>



