@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <a href="http://bit.ly/mvc0418" target="_blank" class="btn btn-primary">ASP.NET MVC5 FaceBook Gruop</a>
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h3>課前學習</h3>
        <ol>
            <li><a href="https://curah.microsoft.com/215307/aspnet-mvc-5-%E9%96%8B%E7%99%BC%E5%AF%A6%E6%88%B0-%E8%AA%B2%E5%89%8D%E5%AD%B8%E7%BF%92%E6%B8%85%E5%96%AE">ASP.NET MVC 5 開發實戰 - 課前學習清單</a></li>
        </ol>
    </div>
    <div class="col-md-4">
        <h3>課程練習</h3>
        <ol>
            <li>練習使用 Visual Studio 2013 的 Data Tips 功能</li>
            <li>練習使用 伺服器總管 相關功能</li>
            <li>練習 SQL Server 資料庫專案</li>
            <li>練習 工作清單 與 條件式中斷點</li>
            <li>練習幾個 重要的快速鍵 與 程式碼片段</li>
            <li>練習 BrowserLink (瀏覽器連結) 功能</li>
            <li>練習透過 NuGet 安裝、移除、更新與重新安裝較舊的套件版本</li>
            <li>建立新MVC5專案、更新NuGet套件、新增/Home/Profile頁面、加入連結到主選單</li>
            <li>新增 ADO.NET 實體資料模型 (Model) 與 ProductsController 完成一個完整的 CRUD 應用</li>
            <li>練習在 Models 套用欄位驗證屬性</li>
            <li>練習欄位驗證屬性、自訂錯誤訊息與設定多國語系錯誤訊息的做法</li>
            <li>練習在不同 Controllers 之間透過 @@Html.ActionLink 互相連結 (Orders -> Clients/Details/id)</li>
            <li>練習 ViewModel 的使用方法</li>
        </ol>
    </div>
    
    <div class="col-md-4">
        <h3>課程主題</h3>
        <ul>
            <li>
                <span style="color: rgb(24, 116, 205); font-size: 15px;">第一天 (4/18)：新手上路初體驗</span>

                <ul>
                    <li>熟悉 Visual Studio 2013 開發環境</li>
                    <li>瞭解 ASP.NET MVC 網站開發流程</li>
                    <li>瞭解 Entity Framework 6.0 資料存取程式</li>
                    <li>瞭解 ASP.NET MVC 執行生命週期</li>
                    <li>瞭解 ASP.NET MVC 核心觀念</li>
                    <li>使用 T4 程式碼產生器加速網站開發效率</li>
                </ul>
            </li>
            <li>
                <span style="color: rgb(24, 116, 205); font-size: 15px;">第二天 (04/19)：資料模型開發實務</span>
                <ul>
                    <li>熟悉 LocalDB 資料庫工具</li>
                    <li>深入瞭解 Entity Framework 6.0 開發模式</li>
                    <li>EF Code First開發模型</li>
                    <li>EF Model First開發模型</li>
                    <li>EF Database First開發模型</li>
                    <li>快速開發與EDMX維護技巧</li>
                    <li>瞭解 ViewModel 的用途與使用技巧</li>
                    <li>ASP.NET MVC 模型繫結應用實務</li>
                    <li>擴充資料模型的實務應用方式</li>
                </ul>
            </li>
            <li>
                <span style="color: rgb(24, 116, 205); font-size: 15px;">第三天 (04/25)：控制器相關技術開發實務</span>
                <ul>
                    <li>網址路由（Routing）與 SEO</li>
                    <li>Controller 架構解析 (控制器與動作方法)</li>
                    <li>Action Result 應用實務</li>
                    <li>模型繫結 (Model Binding) 詳解</li>
                    <li>介紹 ViewData, ViewBag, ViewModel 與使用差異</li>
                    <li>動作過濾器 (Action Filter) 應用實務</li>
                </ul>
            </li>
            <li>
                <span style="color: rgb(24, 116, 205); font-size: 15px;">第四天 (04/26)：檢視頁面相關技術實務</span>
                <ul>
                    <li>深入理解 Razor 語法 (含速記法則)</li>
                    <li>強型別模型開發技巧</li>
                    <li>瞭解 Html 輔助方法與使用陷阱</li>
                    <li>瞭解 Url 輔助方法</li>
                    <li>表單與範本檢視開發實務</li>
                    <li>各式表單驗證開發技巧</li>
                </ul>
            </li>
            <li>
                <span style="color: rgb(24, 116, 205); font-size: 15px;">第五天 (05/09)：進階開發實務</span>
                <ul>
                    <li>活用 Ajax 輔助方法</li>
                    <li>合併與壓縮</li>
                    <li>資料分頁的開發技巧</li>
                    <li>強化網站安全性</li>
                    <li>認識 ASP.NET Web API 與開發技巧</li>
                    <li>使用 T4 程式碼範本快速開發網站</li>
                </ul>
            </li>
            <li>
                <span style="color: rgb(24, 116, 205); font-size: 15px;">第六天 (05/10)：電子商務開發實戰</span>
                <ul>
                    <li>ASP.NET MVC 網站如何進行系統分析與設計</li>
                    <li>多人團隊如何分工合作開發 MVC 網站</li>
                    <li>ASP.NET MVC 網站效能調校的技巧</li>
                    <li>各功能單元程式碼詳解</li>
                    <li>會員機制</li>
                    <li>商品型錄</li>
                    <li>購物車</li>
                    <li>訂單管理</li>
                </ul>
            </li>
            <li><span style="color: rgb(255, 0, 0); font-size: 15px;">註：每日上課時間為 AM 9:00 ~ PM 5:00 (中午休息一小時)</span></li>
        </ul>
    </div>
</div>