@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>《台北》ASP.NET MVC 5 開發實戰：從入門到進階 (六天)</h2>
    <p>
        2015/04/18 09:00 ~ 2015/05/10 18:00<br />
        恆逸台北教育訓練中心 / 台北市復興北路99號14F
        
    </p>

</div>
<div class="row">

    <div class="col-md-4">
        <img src="~/Content/aspnet200x200_large_large.gif" />
    </div>
    <div class="col-md-8">
        <h3>課前學習</h3>
        <ol>
            <li><a href="http://bit.ly/mvc0418" target="_blank">ASP.NET MVC5 FaceBook Gruop</a></li>
            <li><a href="https://curah.microsoft.com/215307/aspnet-mvc-5-%E9%96%8B%E7%99%BC%E5%AF%A6%E6%88%B0-%E8%AA%B2%E5%89%8D%E5%AD%B8%E7%BF%92%E6%B8%85%E5%96%AE" target="_blank">ASP.NET MVC 5 開發實戰 - 課前學習清單</a></li>
        </ol>
        <h3>補充資訊</h3>
        <ol>
            <li>學習MVC將近一年，須仍加努力</li>
            <li>學好MVC，接著再搞自動化建置!!</li>
        </ol>
    </div>
</div>