<ol>
    <li>練習欄位驗證屬性、自訂錯誤訊息與設定多國語系錯誤訊息的做法</li>
    <li>練習在不同 Controllers 之間透過 @@Html.ActionLink 互相連結 (Orders -> Clients/Details/id)</li>
    <li>練習 ViewModel 的使用方法</li>
    <li>練習透過 Entity Framework 讀取 Product 資料，顯示 ProductName 為 C 開頭且 Price 介於 5 ~ 10 塊</li>
    <li>練習透過 Entity Framework 建立 Product 資料</li>
    <li>練習透過 Entity Framework 批次更新 Product 資料</li>
    <li>練習透過 Entity Framework 刪除 Client 資料與其關聯資料</li>
    <li>練習「從資料庫更新模型」，解決無法儲存中文在欄位中的問題 (varchar -> nvarchar)</li>
    <li> 練習匯入 Stored Procedure (預存程序) 並執行查詢動作</li>
    <li>練習使用 db.Database.SqlQuery<t>進行自訂 T-SQL 查詢作業</li>
    <li>練習自訂 Stored Procedure (預存程序) 的回傳型別</li>
</ol>
