<ol>
    <li>透過 Visual Studio 2013 取得 GitHub 上面的專案</li>
    <li>將 ClientsController 所有 Action 通通改成透過 ClientsRepository 存取資料</li>
    <li>加入產生 Entity Framework 實體部分類別的 T4 程式碼產生器範本</li>
    <li>練習自訂一個 DataTypeAttribute 用以驗證特定數值欄位的數字必須為偶數</li>
    <li>練習自訂 Product 實體的「模型驗證」(Model Validation)，驗證商品金額不得低於 2000 元</li>
    <li>請實作 jQueryController 與 each 動作方法，並讓網址變成 http://localhost/jQuery.each 還要確保全站可正常瀏覽</li>
    <li>請實作 jQueryController 與 each 動作方法，並讓網址變成 http://localhost/Docs/jQuery-each 還要確保全站可正常瀏覽</li>
    <li>請實作 BaseController 與實作共用的 Debug 動作方法，讓現有的控制器全部繼承自它，並確保 BaseController 不會被獨立執行</li>
    <li>練習 ViewResult 與 ContentResult</li>
</ol>
