<ol>
    <li>練習自訂 @Html.ActionLink("ActionFilter", "index", "Clients") 動作過濾器</li>
    <li>練習安裝與使用 @Html.ActionLink("Glimpse", "index", "Clients") 幫助偵錯 ASP.NET MVC 應用程式</li>
    <li>用 Razor 輸出 ViewBag.num = new int[] { 1,2,3,4,5 } 陣列的內容：@Html.ActionLink("View","index","View")</li>
</ol>
