<ol>
    <li>練習使用最基本的 Ajax helper 使用方式 ：@Html.ActionLink("Ajax Get Time", "index", "Ajax", null, new { target = "_blank" })</li>
    <li>練習使用 @@Ajax.ActionLink 修改 /Clients/Index 頁面的 Details 連結，讓 Details 的內容動態載入到該頁下方：@Html.ActionLink("Clients List", "index", "Clients", null, new { target = "_blank" })</li>
    <li>練習其他各種不同的 AjaxOptions 參數使用：@Html.ActionLink("Ajax", "index", "Ajax", null, new { target = "_blank" })</li>
</ol>



