<ol>
    <li>練習使用最基本的 Ajax helper 使用方式 ：@Html.ActionLink("Ajax Get Time", "index", "Ajax", null, new { target = "_blank" })</li>
    <li>練習使用 @@Ajax.ActionLink 修改 /Clients/Index 頁面的 Details 連結，讓 Details 的內容動態載入到該頁下方：@Html.ActionLink("Clients List", "index", "Clients", null, new { target = "_blank" })</li>
    <li>練習其他各種不同的 AjaxOptions 參數使用：@Html.ActionLink("Ajax", "index", "Ajax", null, new { target = "_blank" })</li>
    <li>練習將 Metro Layout 的 JavaScript 全都改由 ScriptBundle 的方式載入：@Html.ActionLink("套版", "index", "Metro", null, new { target = "_blank" })</li>
    <li>練習將 /Clients/Index 頁面透過 PagedList.Mvc 進行分頁：@Html.ActionLink("Clients List 分頁", "index", "Clients", null, new { target = "_blank" })</li>
    <li>練習將 /Clients/Index 頁面透過 PagedList.Mvc 進行分頁 (AJAX)：@Html.ActionLink("Clients List 分頁", "index", "Clients", null, new { target = "_blank" })</li>
    <li>安裝 PostMan 工具，並新增 ProductsController (ApiController) 以快速讀取資料</li>
    <li>練習自訂 ASP.NET MVC 的 T4 程式碼產生器範本 @Html.ActionLink("直接產生index包含分頁功能", "index", "Clients1", new { PageNo = 3 }, new {target="_blank" })</li>
    <li>練習 ASP.NET MVC 5.1 的 Enum 相關功能 @Html.ActionLink("透過Enum範本產生下拉選單或Radio選項", "index", "Enum", null, new { target = "_blank" })</li>
</ol>



